.box {
  width: 500px;
  height: 620px;
  border: 10px solid black;
  text-align: center;
}

.item-img {
  width: 400px;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

button {
  margin-right: 20px;
  width: 60px;
  height: 32px;
}

.win {
  border: 10px solid green;
  color: green;
}

.lose {
  border: 10px solid red;
  color: red;
}

.tie {
  border: 10px solid black;
  color: black;
}
